.DS_Store
.idea/
**coverage/
**dist/
**doc/
**jest.json
*.css.json
*.less.json
*.css.json.json
**manifest.json
**yarn-debug.log
**yarn-error.log
build-stats.json
node_modules/
npm-debug.log
.eslintrc_local
.vscode/
.yarnrc
.npmrc
