include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'tattoobunker'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		//if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		#header: .header-block
			//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
			//- ... or completely change this header to suit your design.
			a.header-logo
				img(srs='', alt='')
			div.menu-top
				div.logo-name
					span.logo-word1 BUNKER
					span.logo-word2 TATTOO STUDIO
				div.menu-top-inner(role="navigation")
					a.menu-top-inner-link(href='/gallery') Галерея
					a.menu-top-inner-link(href='/masters') Мастера
					a.menu-top-inner-link(href='/products') Товары
					a.menu-top-inner-link(href='/contacts') Контакты
					if user
						if user.canAccessKeystone
							a.menu-top-inner-link(href='/keystone') Open Keystone
							a.menu-top-inner-link(href='/keystone/signout') Sign Out
					else
						a.menu-top-inner-link(href='/keystone/signin') Sign In
		#MAIN_CONTENT
			div.root-container
				//- HEADER
				.content
					block content
		//- FOOTER
		#footer
		// if user && user.canAccessKeystone
		//	script(src='/keystone/js/content/editor.js')

		block js
