[Unit]
Description=Upwatcher server
After=network.target
Wants=mongod.service

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/var/www/tattoobunker/
ExecStart=/usr/bin/node keystone.js
Restart=always
RestartSec=2
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=upwatcher
Environment=NODE_ENV=production
User=root
Group=root


# cp /etc/systemd/system/name-of-your-service.service
# sudo systemctl status
# sudo systemctl disable
# sudo systemctl enable
# sudo systemctl restart
# sudo systemctl reload
# systemctl list-units
# systemctl list-units --type=service
