html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
html {
  font-feature-settings: "tnum" 1;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.36;
}
#MAIN_CONTENT,
.root-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
#MAIN_CONTENT .content,
.root-container .content {
  padding: 120px 30px 0;
  height: 100%;
}
.header-block {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 30px 25px;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 0 1px 6px rgba(160,160,160,0.3);
  z-index: 100;
  background-color: #fff;
}
.header-block .header-logo {
  position: absolute;
  top: 0;
  left: 30px;
}
.header-block .header-logo img {
  width: 100px;
  height: 90px;
}
.header-block .menu-top {
  padding-left: 110px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.header-block .menu-top .logo-name {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  margin-right: 5px;
}
.header-block .menu-top .logo-name .logo-word1 {
  display: inline-block;
  font-weight: bold;
  color: #000;
  margin-right: 5px;
}
.header-block .menu-top .logo-name .logo-word2 {
  display: inline-block;
  font-weight: bold;
  color: #000;
}
.header-block .menu-top .menu-top-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  fort-size: 14px;
  color: #000;
}
.header-block .menu-top .menu-top-inner a {
  display: inline-block;
  margin-right: 20px;
}
.header-block .menu-top .menu-top-inner a:last-child {
  margin-right: 0;
}
#footer {
  position: relative;
  min-height: 300px;
  padding: 16px 24px;
  color: gray-light;
}
.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
